Repository execution-flows/fy: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-library, mypy-core, mypy-cli

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.6.0"

    hooks:
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: no-commit-to-branch
      - id: forbid-new-submodules
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff  # linter.
        args: [ --fix ]
      - id: ruff-format  # formatter.

  - repo: local
    hooks:
      - id: mypy-library
        name: mypy (library)
        files: ^library/src/
        entry: poetry --directory library/src run mypy --config-file library/mypy.ini
        require_serial: true
        language: system
        types: [python]

      - id: mypy-core
        name: mypy (core)
        files: ^core/src/
        entry: poetry --directory core/src run mypy --config-file core/mypy.ini
        require_serial: true
        language: system
        types: [python]

      - id: mypy-cli
        name: mypy (cli)
        files: ^cli/src/
        entry: poetry --directory cli/src run mypy --config-file cli/mypy.ini
        require_serial: true
        language: system
        types: [python]

Setters add their own abstract mixins (#500)
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/property_setter_template_model_fy.py
  library/src/fy_library/mixins/property/fy_py_file/fy_py_file_content/using_required_property_setter_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/parsed_fy_py_files_map_by_key/abc_fy.py
  library/src/fy_library/mixins/property/property_setters/required_setters/using_parsed_fy_py_files_fy.py
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/property_setter.jinja2
  library/tests/fy_py_files/test_fy_py_files/flow_uses_setters_with_generics_impl/greeting/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_method_and_property_mixins/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_setters/greeting/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_setters/greeting2/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/property/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/hello_world_using_property/property/using_setter.py
Due: mypy-library

Revert "Setters add their own abstract mixins (#500)"
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/property_setter_template_model_fy.py
  library/src/fy_library/mixins/property/fy_py_file/fy_py_file_content/using_required_property_setter_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/parsed_fy_py_files_map_by_key/abc_fy.py
  library/src/fy_library/mixins/property/property_setters/required_setters/using_parsed_fy_py_files_fy.py
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/property_setter.jinja2
  library/tests/fy_py_files/test_fy_py_files/flow_uses_setters_with_generics_impl/greeting/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_method_and_property_mixins/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_setters/greeting/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_setters/greeting2/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/property/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/hello_world_using_property/property/using_setter.py
Due: mypy-library

Revert "Setters add their own abstract mixins" (#501)
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/property_setter_template_model_fy.py
  library/src/fy_library/mixins/property/fy_py_file/fy_py_file_content/using_required_property_setter_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/parsed_fy_py_files_map_by_key/abc_fy.py
  library/src/fy_library/mixins/property/property_setters/required_setters/using_parsed_fy_py_files_fy.py
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/property_setter.jinja2
  library/tests/fy_py_files/test_fy_py_files/flow_uses_setters_with_generics_impl/greeting/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_method_and_property_mixins/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_setters/greeting/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_setters/greeting2/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/property/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/hello_world_using_property/property/using_setter.py
Due: mypy-library

removed abstract mixins from PropertySetterFyPyFile
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/property_setter_template_model_fy.py
  library/src/fy_library/flows/fy_py_main_fy.py
  library/src/fy_library/mixins/property/property_setters/required_property_setters_fy_py_with_own_abstract_mixin/__init__.py
  library/src/fy_library/mixins/property/property_setters/required_property_setters_fy_py_with_own_abstract_mixin/abc_fy.py
  library/src/fy_library/mixins/property/property_setters/required_property_setters_fy_py_with_own_abstract_mixin/using_required_property_setters_fy_py_fy.py
Due: mypy-library

Declared base flow uses snake case instead of pascal case
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/base_flow_template_model_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/base_flow_file_split/using_base_flow_regex_fy.py
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/base_flow.jinja2
  library/tests/fy_py_files/test_fy_py_files/base_flow_using_method_assert/hello_world_using_method_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow/greeting_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow/greeting_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow/hello_word_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow/hello_word_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow/greeting_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow/greeting_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow/hello_world_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow/hello_world_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/unordered_annotation_raises_error/base_flow_invalid_annotation_fy.py
  library/tests/fy_py_files/test_unordered_annotation_raises_error.py
Due: mypy-library

Declared base flow uses snake case instead of pascal case (#508)
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/base_flow_template_model_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/base_flow_file_split/using_base_flow_regex_fy.py
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/base_flow.jinja2
  library/tests/fy_py_files/test_fy_py_files/base_flow_using_method_assert/hello_world_using_method_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow/greeting_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow/greeting_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow/hello_word_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow/hello_word_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow/greeting_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow/greeting_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow/hello_world_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow/hello_world_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/unordered_annotation_raises_error/base_flow_invalid_annotation_fy.py
  library/tests/fy_py_files/test_unordered_annotation_raises_error.py
Due: mypy-library

property can be used as setter in one flow and constant in another
  library/src/fy_library/domain/mixin_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/hello_world2_using_setter_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/hello_world2_using_setter_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/hello_world_using_constant_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/hello_world_using_constant_fy.py.expected
Due: mypy-library

fixing pre-commit mypy
  .pre-commit-config.yaml
Due: none

property can be used as setter in one flow and constant in another (#511)
  .pre-commit-config.yaml
  library/src/fy_library/domain/mixin_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/hello_world2_using_setter_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/hello_world2_using_setter_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/hello_world_using_constant_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/hello_world_using_constant_fy.py.expected
Due: mypy-library

Generic property setter in a flow uses own generic_impl.
  library/src/fy_library/mixins/property/imports_and_user_imports/user_imports_from_property_mixins/using_property_setter_imports_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/parsed_fy_py_files/using_property_setter_mixins__mapped_to_abstract_property__fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_uses_setters_with_generics_impl/flow_uses_setters_with_generics_impl_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_uses_setters_with_generics_impl/flow_uses_setters_with_generics_impl_fy.py.expected
Due: mypy-library

Generic property setter in a flow uses own generic_impl. (#513)
  library/src/fy_library/mixins/property/imports_and_user_imports/user_imports_from_property_mixins/using_property_setter_imports_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/parsed_fy_py_files/using_property_setter_mixins__mapped_to_abstract_property__fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_uses_setters_with_generics_impl/flow_uses_setters_with_generics_impl_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_uses_setters_with_generics_impl/flow_uses_setters_with_generics_impl_fy.py.expected
Due: mypy-library

declared base flow generics def
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/flow_template_model_fy.py
  library/src/fy_library/mixins/property/fy_file/fy_file_kind/using_fy_code_fy.py
  library/src/fy_library/mixins/property/parsed_entity_fy_py_file/parsed_flow_fy_py_file/using_parsed_fy_py_file_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/flow_file_split/abc_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/flow_file_split/using_flow_regex_fy.py
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/flow.jinja2
  library/tests/fy_py_files/test_flow_with_base_flow_using_generics.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/greeting_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/greeting_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/greetings_t.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/hello_world_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/hello_world_fy.py.expected
Due: mypy-library

removed unnecessary import
  library/src/fy_library/mixins/property/imports_and_user_imports/imports/import_mixins__using_for_abstract_property_mixin_and_mixin_import_map__fy.py
Due: mypy-library

base flow uses base flow with generics def
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/base_flow_template_model_fy.py
  library/src/fy_library/mixins/property/fy_file/fy_file_kind/using_fy_code_fy.py
  library/src/fy_library/mixins/property/parsed_entity_fy_py_file/parsed_base_flow_fy_py_file/using_parsed_fy_py_file_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/base_flow_file_split/abc_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/base_flow_file_split/using_base_flow_regex_fy.py
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/base_flow.jinja2
  library/tests/fy_py_files/test_base_flow_with_base_flow_using_generics.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/greeting_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/greeting_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/greetings_t.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/hello_word_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/hello_word_base_flow_fy.py.expected
Due: mypy-library

514 implement base flow generic impl (#515)
  library/src/fy_library/domain/fy_py_template_models.py
  library/src/fy_library/domain/parsed_fy_py_file.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/base_flow_template_model_fy.py
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/flow_template_model_fy.py
  library/src/fy_library/mixins/property/fy_file/fy_file_kind/using_fy_code_fy.py
  library/src/fy_library/mixins/property/imports_and_user_imports/imports/import_mixins__using_for_abstract_property_mixin_and_mixin_import_map__fy.py
  library/src/fy_library/mixins/property/parsed_entity_fy_py_file/parsed_base_flow_fy_py_file/using_parsed_fy_py_file_fy.py
  library/src/fy_library/mixins/property/parsed_entity_fy_py_file/parsed_flow_fy_py_file/using_parsed_fy_py_file_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/base_flow_file_split/abc_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/base_flow_file_split/using_base_flow_regex_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/flow_file_split/abc_fy.py
  library/src/fy_library/mixins/property/parsed_file_split/flow_file_split/using_flow_regex_fy.py
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/base_flow.jinja2
  library/src/fy_library/mixins/property/templates/generated_fy_py_code/jinja2_templates/flow.jinja2
  library/tests/fy_py_files/test_base_flow_with_base_flow_using_generics.py
  library/tests/fy_py_files/test_flow_with_base_flow_using_generics.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/greeting_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/greeting_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/greetings_t.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/hello_word_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_with_base_flow_using_generics/hello_word_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/greeting_base_flow_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/greeting_base_flow_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/greetings_t.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/hello_world_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_base_flow_using_generics/hello_world_fy.py.expected
Due: mypy-library

property using constant supports generics_impl
  library/src/fy_library/mixins/property/optional_mixin_models/optional_property_mixin_model/using_mixin_line_fy.py
  library/tests/fy_py_files/test_flow_with_constant_generics_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/hello_world2_using_setter_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/hello_world2_using_setter_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/hello_world_using_constant_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/hello_world_using_constant_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/abc_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/abc_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/greetings_t.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/using_setter.py
Due: mypy-library

property using constant supports generics_impl (#517)
  library/src/fy_library/mixins/property/optional_mixin_models/optional_property_mixin_model/using_mixin_line_fy.py
  library/tests/fy_py_files/test_flow_with_constant_generics_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/hello_world2_using_setter_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/hello_world2_using_setter_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/hello_world_using_constant_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/hello_world_using_constant_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/abc_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/abc_fy.py.expected
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/greetings_t.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/using_setter.py
Due: mypy-library

--fc flag
  cli/src/fy_tool_cli/main.py
  library/src/fy_library/__init__.py
  library/src/fy_library/fc.py
Due: mypy-library, mypy-cli

fixed bug
  library/src/fy_library/flows/create_template_model_using_parsed_fy_py_file/flow_template_model_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_using_method_assert/hello_world_using_method_fy.py
  library/tests/fy_py_files/test_fy_py_files/base_flow_using_method_assert/using_constant_fy.py
  library/tests/fy_py_files/test_fy_py_files/flow_uses_setters_with_generics_impl/greeting/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_method_and_property_mixins/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_setters/greeting/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_using_setters/greeting2/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_generics_setter/property/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/flow_with_constant_setter/property/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/hello_world_using_property/property/using_setter.py
  library/tests/fy_py_files/test_fy_py_files/invalid_fy_code_raises_correct_error/property_has_duplicate_name/property_1_fy.py
Due: mypy-library

fux cli run as fc generator
  cli/src/fy_tool_cli/main.py
Due: mypy-cli

fux cli run as fc generator (#519)
  cli/src/fy_tool_cli/main.py
Due: mypy-cli

folder to only generate files for
  cli/src/fy_tool_cli/main.py
  library/src/fy_library/fc.py
  library/src/fy_library/flows/flow_compose_main_fy.py
  library/src/fy_library/flows/generate_and_save_flow_compose_files__using_parsed_fy_py_files_fy.py
  library/src/fy_library/fy.py
  library/src/fy_library/mixins/property/fy_file/folder_to_generate/__init__.py
  library/src/fy_library/mixins/property/fy_file/folder_to_generate/abc_fy.py
  library/src/fy_library/mixins/property/fy_file/folder_to_generate/using_setter.py
  library/src/fy_library/mixins/property/parsed_fy_py/files_to_generate/__init__.py
  library/src/fy_library/mixins/property/parsed_fy_py/files_to_generate/abc_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/files_to_generate/using_parsed_fy_py_file__and__folder_to_generate_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/files_to_generate/using_setter.py
  library/tests/flow_compose_tests/test_flow_compose_files/__init__.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/__init__.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/flow_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/__init__.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/abc_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greet_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greet_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greet_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greeting_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greeting_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greeting_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/using_setter.py
  library/tests/flow_compose_tests/test_flow_with_constant_setter.py
  library/tests/flow_compose_tests/test_generate_subdirectory_only.py
  library/tests/flow_compose_tests/test_utils/main_flow_compose_test_case.py
Due: mypy-library, mypy-cli

folder to only generate files for (#520)
  cli/src/fy_tool_cli/main.py
  library/src/fy_library/fc.py
  library/src/fy_library/flows/flow_compose_main_fy.py
  library/src/fy_library/flows/generate_and_save_flow_compose_files__using_parsed_fy_py_files_fy.py
  library/src/fy_library/fy.py
  library/src/fy_library/mixins/property/fy_file/folder_to_generate/__init__.py
  library/src/fy_library/mixins/property/fy_file/folder_to_generate/abc_fy.py
  library/src/fy_library/mixins/property/fy_file/folder_to_generate/using_setter.py
  library/src/fy_library/mixins/property/parsed_fy_py/files_to_generate/__init__.py
  library/src/fy_library/mixins/property/parsed_fy_py/files_to_generate/abc_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/files_to_generate/using_parsed_fy_py_file__and__folder_to_generate_fy.py
  library/src/fy_library/mixins/property/parsed_fy_py/files_to_generate/using_setter.py
  library/tests/flow_compose_tests/test_flow_compose_files/__init__.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/__init__.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/flow_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/__init__.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/abc_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greet_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greet_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greet_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greeting_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greeting_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/greeting_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/generate_subdirectory_only/subdirectory/using_setter.py
  library/tests/flow_compose_tests/test_flow_with_constant_setter.py
  library/tests/flow_compose_tests/test_generate_subdirectory_only.py
  library/tests/flow_compose_tests/test_utils/main_flow_compose_test_case.py
Due: mypy-library, mypy-cli

fixed flow argument
  library/src/fy_library/mixins/property/templates/generated_flow_compose_code/jinja2_templates/flow.jinja2
  library/tests/flow_compose_tests/test_flow_compose_files/flow_using_method_and_property_mixins/flow_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_using_method_and_property_mixins/flow_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/flow_using_method_and_property_mixins/flow_fy.py
Due: none

fixed failing tests
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_generics_setter/hello_world2_using_setter_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_generics_setter/hello_world2_using_setter_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_generics_setter/hello_world_using_constant_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_generics_setter/hello_world_using_constant_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_setter/hello_world2_using_setter_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_setter/hello_world2_using_setter_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_setter/hello_world_using_constant_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_setter/hello_world_using_constant_fc.py.expected
Due: none

fixed flow argument (#521)
  library/src/fy_library/mixins/property/templates/generated_flow_compose_code/jinja2_templates/flow.jinja2
  library/tests/flow_compose_tests/test_flow_compose_files/flow_using_method_and_property_mixins/flow_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_using_method_and_property_mixins/flow_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/flow_using_method_and_property_mixins/flow_fy.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_generics_setter/hello_world2_using_setter_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_generics_setter/hello_world2_using_setter_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_generics_setter/hello_world_using_constant_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_generics_setter/hello_world_using_constant_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_setter/hello_world2_using_setter_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_setter/hello_world2_using_setter_fc.py.expected
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_setter/hello_world_using_constant_fc.py
  library/tests/flow_compose_tests/test_flow_compose_files/flow_with_constant_setter/hello_world_using_constant_fc.py.expected
Due: none

Update README.md
  README.md
Due: none
